body, html{
    background: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('title-screen.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
#gameContainer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#startButton {
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #28a745;
}

#overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#canvas1{
    background: #0056b3;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    width: 100%;
    height: 100%;

    /*aa*/

    /*max-width: 100%;*/
    /*max-height: 100%;*/
}
#playerImage,#backgroundImage, #enemyImage,#enemyImage2,#enemyImage3,#playerImage2,#item,#gold,#enemyImage3,#playerImage2,#playerImage2-1,#playerImage1 {
    display: none;
}